[extractors]
tsx = scripts.i18n_extract:extract_ts_t_calls

[python: app/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 t

[jinja2: app/**.j2]
encoding = utf-8
extensions = jinja2.ext.i18n

[tsx: app/web/src/**.ts]
encoding = utf-8

[tsx: app/web/src/**.tsx]
encoding = utf-8

[tsx: mocks/web/src/**.ts]
encoding = utf-8

[tsx: mocks/web/src/**.tsx]
encoding = utf-8
